*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}

nav > ul{
    display: flex;
    width: 10%;
}

 ul li.btn a {
    color: rgb(240, 233, 233);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;
    padding: 20px ;
    border-radius: 0px;
    display: block;
    
    }

 ul li.btn:hover a{
    color: rgb(10, 31, 99);
    transition: 1.2s all;  
    background-color: beige; 
    
}



ul li.l2 
{
    background-color: blueviolet;
    display: none;
}

 ul li.l2:hover a{
    color: rgb(10, 31, 99);
    transition: 1.2s all;  
    background-color: rgb(3, 52, 51); 
    
}


header .btn:hover .l2{
   display: block;

}


.logo
{
    width: 5%;
    padding: 20px ;
    border-radius: 0px;
    
   
}

.img
{
    text-align: right;
   
    
    
}


.navi
{
    
    margin-top: -100px;
}


    
