* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;

}
body
{
    background-image: url('images/bg.jpg');
	background-image: cover;
	background-repeat: no-repeat;
    
}

.a1 {
    padding: 20px 10px;
    display: block;
    text-align: center;
    color: black;
    background-color: coral;
    font-size: 20px;
}

.btn {
    padding: 10px;
}


#menu {
    background-color: rgb(211, 113, 16);
    border-radius: 5px;
}

#a20 {
    color: rgb(212, 215, 216);
    padding: 15px;
    font-size: 30px;
}

#a2 {
    color: rgb(223, 58, 3);
    padding: 15px;
    font-size: 30px;
}

#liste {
    text-align: center;
}

.a3 {
    color: black;
    font-weight: bold;

}

.ac {
    font-weight: bold;
    color: brown;
    font-family: 'arial';
}

#c1 {
    background-color: burlywood;
    border-radius: 5px;
   
}


#liste,#mission,.m5,#c1,#menu,#tp1,#tp2,#tp3,#tp4,#tp5,#tp6,#m1,#m2,#m3,#m4,#m5,img, path,#t1,#t2 {
    display: none;
}




@media all and (min-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Courier New', Courier, monospace;
    
    }
    .a1 {
        display: none;
    }
    .java
    {
         font-family: 'arial';
        color: white;
    }

    .tpjava
    {
        background-color: lightblue;
        border-radius: 10px;
        width: 70px;
        position: absolute;
        left: 280px;
    }
    

    .btn {
        float: left;
        

    }

    .am
    {
        font-family: 'arial';
        color: green;
        
    }


    #liste {
        
        display: flex;
        padding: 15px 65px;
        height: 80px;

    }

    body {
        background-image: url('images/bg.jpg');
	    background-image: cover;
	    background-repeat: no-repeat;
    }

    img {
        display: block;
        position: absolute;
        width: 70px;
        top: 6px;
    }

    #menu {
        position: absolute;
        float: left;
        top: 80px;

    }

    .ul2
    {
        
        transition: all 1s;
        position: absolute;
        top: 2px;
        right: -105px;
        max-width: -50px;
        background-color: blanchedalmond;
        border-radius: 5px;
    }

    .ulm
    {
        transition: all 2s;
        position: absolute;
        top: 2px;
        right: -120px;
        max-width: -50px;
        background-color: blanchedalmond;
        border-radius: 5px;
    }
    #a20:hover .mission
    {
       display: none;
    }
    

    #a2:hover .java
    {
        display: flex;
    }
    .a3
    {
        color: rgb(194, 87, 15);
        
    }



    .btn:hover .m2 {
        display: inline-flex;
        position: relative;
        margin-top: 15px;
        margin-left: -15px;
    }
    svg
    {
        position: absolute;
        top: 30%;
        left: 0%;
        width: 90%;
        align-items: center;
        
    }


    @keyframes anim 
{
    to{
        stroke-dashoffset: 0;
    }   
}
.d1:hover path
{

	transform: scale(1.1);
	transition: all 2s ;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: anim 5s ease forwards;
    stroke: rgb(65, 136, 230);
    
}
#m5
{
    position: absolute;
    top: 80px;
    right: -95px;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
}
.a5
{
    color: cornflowerblue;
    font-weight: bold;
}



path
{
    transition: all 3s;
}

}
