* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    

}

#menu
{
    background-color: #59afe8;
}
body
{
    background-image: url('images/bg.jpg');
	background-image: cover;
	background-repeat: no-repeat;
    
}

li > a
{
    color: rgb(64, 134, 215);
}


nav ,.submenu {
    text-align: center;
    display: none;
    
}
.menu-html ,.menu-js,.menu-bdd,.menu-php ,.menu-certi, .menu-mission
{
    background-color: blanchedalmond;
    padding: 10px;
    font-size: 20px;
}
.a1
{   
    color: #e44d26;
}
.menu-js:hover .submenu
{
    display: block;
}
.menu-bdd:hover .submenu
{
    display: block;
}

.menu-php:hover .submenu
{
    display: block;
}

.menu-certi:hover .submenu
{
    display: block;
}

.menu-mission:hover .submenu
{
    display: block;
}

.menu-html:hover .submenu
{
    display: block;
}









@media all and (min-width: 1000px) {
    

body {
    background-image: url('images/bg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Verdana, Calibri , sans-serif;
    margin: 0px;
    padding: 0px;
  }

  nav  >  ul {
    margin:0px;
    padding:0px;
  }

  nav li {
    list-style-type:none;
  }

  nav > ul> li{ 
    float:left;
    position:relative;
  }

  .submenu, #menu
  {
    display:none;
    background-color: #008be8;
    
  }
  
  .submenu:hover 
  {
    transition: all .5s ease;
    
  }





  nav {
    width:100%;
    display: block;
  }
 
nav > ul::after{
    content:"";
    display:table;
    clear:both;
}

nav a {
    display:inline-block;
    text-decoration:none;
}

nav > ul > li > a {
    padding:20px 30px;
    color:white;
    
}

nav li:hover .submenu{
    display:inline-block;
    position:absolute;
    top:100%;
    left:0px;
    padding:0px;
    z-index:100000;
    
}

.submenu li
{
    border:1px solid #CCC;
    border-radius:5px;
    

}

.submenu li a{
    font-size:13px;
    color:white;    
    width:100px;
    text-align:center;
}

.menu-html:hover{
    border-top:5px solid #e44d26;
    background-color: white;
    

}


.menu-mission:hover{
    border-top:5px solid #0070bb;
    background-color: RGBa(000,112,192,0.15);
    
}
.menu-js:hover{
    border-top:5px solid #f1dc4f;
    background-color: RGBa(241,211,79,0.15);
    
}
.menu-php:hover{
    border-top:5px solid purple;
    background-color: RGBa(241,211,79,0.15);
    
}
.menu-bdd:hover{
    border-top:5px solid black;
    background-color: RGBa(241,211,79,0.15);
    
}
.menu-certi:hover{
    border-top:5px solid green;
    background-color: RGBa(241,211,79,0.15);
    
}


nav > ul> li:hover a{
    padding:15px 30px 20px 30px;
}

.menu-html.submenu{
    background-color: RGB(230,100,40);
    
}
.menu-mission.submenu{
    background-color: RGB(0,160,240);
}
.menu-js.submenu{
    background-color: RGB(251,216,99);
}
.menu-html:hover{
    border-top:5px solid red;
    background-color: RGBa(220,220,220,0.15);
    
}


.menu-html.submenu li:hover{
    background-color: RGB(210,77,260);
}
.menu-mission.submenu li:hover{
    background-color: RGB(0,115,200);
}
.menu-js.submenu li:hover{
    background-color: RGB(200,165,75);
}

}