*{
    text-decoration-line: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
 
}


header
{
    height: 100vh;
    width: 100vw;
    background-image: url();
    background-size: cover;
    
    background-image: url(bg.jpg);
}

.nav
{
    
    position: absolute;
    padding: 25px 10px;
    display: flex;

    width: 100%;

}

h1
{
 color: navy;    
}

.a1
{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0px 10px; 
}
.a2
{
    color: rgb(7, 119, 223);
    font-size: 20px;
    padding: 20px 10px;
}

.a3
{
    color: coral;
    font-size: 20px;
    
}

.div > ul
{
    
    display: flex;
    padding: 0px 80px;
}

.m2 
{
    display: none;
}
.btn:hover .m2 
{ 
   display: block;
}

.mission
{
    display: none;
    padding: 10px 10px;
}

.m2
{
  margin: 1px 1px;
  align-items: center;
}



.m2:hover .mission 
{
   display: block;
   align-items: center;
}



.btn:hover
{
   background-color: transparent;
}

img
{
    
    padding: 0 20px;
    width: 5%;
    position: absolute;
}

.ul2 > li
{
    display: none;
    
}


.btn
{
    align-items: center;
}




