*{
    text-decoration-line: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
 
}


header
{
    height: 100vh;
    width: 100vw;
    background-image: url();
    background-size: cover;
    
    background-image: url(bg.jpg);
}

.nav
{
    
    position: absolute;
    padding: 25px 10px;
    display: flex;

    width: 100%;

}

h1
{
 color: navy;    
}

.a1
{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0px 10px; 
    position: sticky;
}
.a2
{
    color: rgb(7, 119, 223);
    font-size: 20px;
    padding: 20px 10px;
}

.a3
{
    color: coral;
    font-size: 20px;
    
}

.div > ul
{
    
    display: flex;
    padding: 0px 80px;
}

.m2 
{
    display: none;
}
.btn:hover .m2 
{ 
   display: block;
}

.mission
{
    display: none;
    padding: 10px 10px;
}

.m2
{
  margin: 1px 1px;
  align-items: center;
}



.m2:hover .mission 
{
   display: block;
   align-items: center;
}



.btn:hover
{
   background-color: transparent;
}

img
{
    
    padding: 0 20px;
    width: 5%;
    position: absolute;
}

.ul2 > li
{
    display: none;
    
}


.btn
{
    align-items: center;
}

svg
{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 90%;
    align-items: center;
    
}





@keyframes anim 
{
    to{
        stroke-dashoffset: 0;
    }   
}

.d2
{
  
    height: 100%;
    align-items: center;
}


.d1
{
    position: absolute;
	width: 22%;
	background-color: transparent;
	height: 450px;
	border-radius: 20px;
	margin-top: 150px;
	margin-left: 550px;
	padding: 20px;
   
}

.p
{
	margin-top: 320px;
}

.p2
{
	text-align: center;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.img2
{
	width: 60%;
	left: 55px;
    bottom:  300px;
    
	
}
.d1:hover 
{
	transform: scale(1.1);
	background-color: wheat;
	transition: all 5s ;  
}

.d1:hover path
{

	transform: scale(1.1);
	background-color: lightblue;
	transition: all 2s ;
    stroke-dasharray: 1000PX;
    stroke-dashoffset: 1000px;
    animation: anim 5s ease forwards;
    pointer-events: all;
    stroke: rgb(65, 136, 230);
    
}