button
{
    background-color: rgb(0, 68, 255);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: #003057 4px 4px 0 0;
}
*
{
    font-family: Georgia;
    color: white;
}

button:hover
{
    border: solid white;
    background-color: rgb(51, 115, 234);
    box-shadow: none;
    transition: all 0.5s;
}

h1
{
    color: black;
}