*
{
    text-decoration-line: none ;
    list-style-type: none;
    padding: 0;
    
}

body
{
    background-color: burlywood;
}


h1
{
    text-align: center;
    
    

}

h3
{
    color: rgb(31, 5, 227);
    text-align: center;
}

.p1
{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bouton
{
  text-align: center;
  margin-top: 50px;
}
a , .reset
{
    background-color: rgb(30, 208, 167);
    padding: 2px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: solid transparent;
   
}
a:hover
{
    background-color: rgb(239, 239, 239);

    color: black;
    transition: all 3s;
}
.reset:hover
{
    background-color: rgb(239, 239, 239);
    color: black;
    transition: all 3s;
}
.r
{
    color: red;
}


path
{
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: anim 5s ease forwards;
    transition: all 5s;
    stroke: coral;
    left: 50%;
}

@keyframes anim 
{
    to{
        stroke-dashoffset: 0;
    }   
}

.quest
{
    
    padding: 0 77px;
    gap: 250px;
    display: flex;
}

.d1 ,.d2 ,.d3 ,.d4, .d5,.d6,.d7,.d8
{
    
    border-radius: 10px;
    width: 30%;
    height: 400px;
    text-align: center;
    background-color: cadetblue;

}


.tt
{
    display: flex;
    padding-bottom: 30px;
    gap: 50px;
}

.t2
{
    display: flex;
    gap: 50px;
}

.rps
{
    margin-top: 180px;
}





