h1
{
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.titre
{
    color: rgb(210, 106, 15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  
    
}


p
{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}