div.div
{
	width: 22%;
	background-color: rgb(186, 229, 85);
	height: 450px;
	border-radius: 20px;
	margin-top: 150px;
	margin-left: 550px;
	padding: 20px;
}

.p
{
	margin-top: 120px;
}

.p2
{
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

img
{
	width: 60%;
	margin-left: 60px;
	
}

.div:hover
{
	transform: scale(1.1);
	background-color: lightblue;
	transition: all 2s ;

}