*
{
    margin: auto;   
    font-size: 16px;
}

.cv
{
    border: 5px solid #3388cc;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    width: 780px;
}

h2
{
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;

}

header
{
    border: solid black;
    margin: 10px 40px;
    width: 90%;
    height: 250px;
}
section
{
    
    margin: 30px 30px;
}



.s3
{
  
    width: 10%;
    height: 20%;
    text-align: center;
    float: left;
    margin: 20px 60px;
    font-weight: bold;
}

.s4
{
    float: left;
    font-weight: bold;
    width: 40%;
    margin: 20px 60px;

}
.s2,.s5,.s6,.s7,.s8 {
    
    clear: both;
    border: solid coral;
    width: 90%;
    height: 250px;
    margin: 20px 40px;
    border-radius: 10px;
}
img
{
    width: 150px;
}


.image{
        
    margin: -180px 80%;
}

.cv_button
{
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0px;
   
    border: solid cornflowerblue;
    background-color: coral;    

}
.cv_button:hover
{
    transition: all 0.5s;
    background-color: lightcoral;
    transform: scale(1.1);
   color: #3388cc;

}
