body
{
	margin: 0;
	padding: 0;
}

header
{
	background-color: lightgray ;
	text-align: center;
	padding: 5px
}


h1
{
	background: linear-gradient(45deg,#f3ec78, #af4261);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

section
{
	padding: 20px;
}

h2
{
	font-size: 10px;
	line-height: 1.5;
}


footer
{
	padding: 10px;
	text-align:center;
	background-color: lightgray ;
	color: white;
}